# Virtual Environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables & Secrets
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
Thumbs.db
Desktop.ini
.DS_Store
